# Конфиденциальные данные и ключи
.env
.env.*
*.env

# Виртуальное окружение
venv/
.venv/
env/

# Базы данных и логи
*.db
*.sqlite3
*.log

# Кэш Python и байткод
__pycache__/
*.py[cod]

# Временные тестовые скрипты
test.py

# Настройки редактора кода
.vscode/
.idea/

#Изображения и медиа файлы
images/
